{% include 'partials/_header.twig' %}
<style>
.atb-text-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.atb-text {
    color: #fff;
    padding: 35px 20px 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
}
.atb-text {
    background: rgba(255,255,255,0.7);
}
.atb-text h1 {
    color: #8AA0C0;
}
h1.new-single-title {
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 5px;
    text-align: center;
    margin: 0px auto 0;
    padding-top: 0px;
}
.ppi-author {
    font-family: "Benton Sans";
    font-style: normal;
    font-weight: normal;
}
.ppis {
    color: #5D79A0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}
.buch {
    font-weight: 900;
    font-size: 1.1em;
    margin-top: 0.5em;
}
/**
 * Styles for 'responsive video embeds'
 */
.responsive-video {
  height: 0; padding-top: 25px; padding-bottom: 67.5%; margin-bottom: 10px; position: relative; overflow: hidden;
}
.responsive-video.vimeo {
  padding-top: 0;
}
.responsive-video.widescreen {
  padding-bottom: 57.25%;
}
.responsive-video embed, .responsive-video iframe, .responsive-video object, .responsive-video video {
  top: 0; left: 0; width: 100%; height: 100%; position: absolute;
}
@media (max-width: 767px) {
  .responsive-video {
    padding-top: 0;
  }
}
</style>
    <div class="container-fluid navPathWrap">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <nav>
              <ul class="navPath clearfix"><li>Home > Gottesdienst</li></ul>
            </nav>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
    
<main class="container-fluid contentWrap">
  <div class="container">
    <div class="row equalHeight">
      <div style="min-height: 1345px;" class="col-md-8 contentMain equalize" role="main">
        <!--TYPO3SEARCH_begin-->
          <div id="c10885" class="csc-default"><div class="tx-dce-pi1">
    
  

    <div class="teaserBlock teaserBlock1 clearfix">
      <div class="row">
        <div class="col-sm-12" style="margin-top: 28px;">
          <div class="teaserBlockElement">
          
                {% setcontent artikel = 'entries/2' %}
            
                <div class="teaserBlockElementImage" style="background-image: url('/files/{{artikel.image}}');">
                
                </div>
                
              <div id="c11202" class="csc-default" style="margin-top: 30px;"><div class="csc-header csc-header-n2"><h1>{{ artikel.title }}</h1></div>
              {{ artikel.body }}              

              <p style="margin-top: 40px;text-align: center;"><img src="{{paths.theme}}img/teilen.png"></p>
</div>
              
          </div>
        </div>
      </div>

      
 
      <div class="row">
        <div class="col-sm-6">
          <div class="teaserBlockElement">
            
                <div class="teaserBlockElementImage hide"></div>
                <div class="teaserBlockElementText"></div>
              
          </div>
        </div>
        <div class="col-sm-6">
          <div class="teaserBlockElement">
            
                <div class="teaserBlockElementImage hide"></div>
                <div class="teaserBlockElementText"></div>
              
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="teaserBlockElement">
            
                <div class="teaserBlockElementImage hide"></div>
                <div class="teaserBlockElementText"></div>
              
          </div>
        </div>
        <div class="col-sm-6">
          <div class="teaserBlockElement">
            
                <div class="teaserBlockElementImage hide"></div>
                <div class="teaserBlockElementText"></div>
              
          </div>
        </div>
      </div>
    </div>
  

</div></div>

          <div class="row contentTwoColumns">
            
          </div>
        <!--TYPO3SEARCH_end-->
        
      </div>
      {% include 'partials/_aside.twig' %}
    </div><!-- close row -->
  </div>
</main>

{% include 'partials/_advertising.twig' %}
{% include 'partials/_additionals.twig' %}

{% include 'partials/_footer.twig' %}
