<div class="container-fluid contentAdditional">
      <div class="container">
        <div class="row contentMain newsletterSubscribe">
          <div class="col-md-3"></div>
          <div class="col-md-6 text-center">
            <div class="newsletterSubscribeWrap clearfix">
              <span class="ico_newsletter pull-left">Newsletter</span>
<a class="btn btn-primary pull-left" href="/service/newsletter_anmeldung.html">Abonnieren</a>

              
            </div>
          </div>
          <div class="col-md-3"></div>
        </div><!-- close row -->
      </div>
    </div>