<div class="container-fluid contentWrap contentBottom">
  <div class="container">
    <div class="row contentMain">
      <div class="col-md-4">
        <div id="c11933" class="csc-default"><div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap thumbnails" data-toggle="lightbox" data-csc-images="1" data-csc-cols="1"><div class="csc-textpic-center-outer"><div class="csc-textpic-center-inner"><figure class="image csc-textpic-image csc-textpic-last" data-retina=""><a href="http://www.citykircheberlin.de/"><img src="{{paths.theme}}img/PVS-Logo1.jpg" class="img-responsive" alt="" height="124" width="262"></a></figure></div></div></div><div class="csc-textpic-text"><div class="csc-textpicHeader csc-textpicHeader-0"><h3 class="csc-firstHeader">City Kirche Berlin</h3></div><h4>Wir sind eine evangelische Freikirche im Zentrum der deutschen Hauptstadt. Im Glauben an Jesus Christus arbeiten wir im Rahmen der Kreuzberger Ökumene als Gemeinde der Citykirche mit den umliegenden Gemeinden und mit Christen verschiedener Konfessionen weltweit partnerschaftlich zusammen.</h4>
<p class="bodytext"><a href="http://www.citykircheberlin.de/" class="btn-secondary">Zur City Kirche<br></a></p></div></div></div>
      </div>
      <div class="col-md-4">
        <div id="c10875" class="csc-default"><div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap thumbnails" data-toggle="lightbox" data-csc-images="1" data-csc-cols="1"><div class="csc-textpic-center-outer"><div class="csc-textpic-center-inner"><figure class="image csc-textpic-image csc-textpic-last" data-retina=""><a href="http://www.ccm-missions.de/"><img src="{{paths.theme}}img/PVS-Logo2.jpg" class="img-responsive" alt="" height="124" width="262"></a></figure></div></div></div><div class="csc-textpic-text"><div class="csc-textpicHeader csc-textpicHeader-0"><h3 class="csc-firstHeader">Cross Continental Ministries</h3></div><h4>Wir wollen die Hilfsmittel der Gegenwart nutzen, um die gute Nachricht des Evangeliums allen zu bringen, die sie in unserer Zeit brauchen.</h4>
<p class="bodytext"><a href="http://www.ccm-missions.de/" class="internal-link btn-secondary">Zu Cross Continental Ministries</a></p></div></div></div>
      </div>
      <div class="col-md-4">
        <div id="c10876" class="csc-default"><div class="csc-textpic csc-textpic-center csc-textpic-above"><div class="csc-textpic-imagewrap thumbnails" data-toggle="lightbox" data-csc-images="1" data-csc-cols="1"><div class="csc-textpic-center-outer"><div class="csc-textpic-center-inner"><figure class="image csc-textpic-image csc-textpic-last" data-retina=""><a href="http://www.hopefortomorrow.de/"><img src="{{paths.theme}}img/PVS-Logo3.jpg" class="img-responsive" alt="" height="124" width="262"></a></figure></div></div></div><div class="csc-textpic-text"><div class="csc-textpicHeader csc-textpicHeader-0"><h3 class="csc-firstHeader">Hope for Tomorrow</h3></div><h4>Eines der wichtigsten Ziele der CCM wurde durch die Ausstrahlung der Sendungen "Hope for Tomorrow" - Gottesdienste, mit den lebendigen Predigten von Pastor Spitzer - in Deutschland  erreicht. Damit ist es uns gelungen, die Menschen mit der frohen Botschaft von Jesus Christus mit Hilfe zeitgemäßer Medien in Deutschland zu erreichen.</h4>
<p class="bodytext"><a href="http://www.hopefortomorrow.de/" class="internal-link btn-secondary">Zu Hope for Tomorrow</a></p></div></div></div>
      </div>
      
    </div>
  </div>
</div>