                {% if artikel.athome == false %}
                <div class="col-md-12" style="margin-top:10px;margin-bottom:35px;padding-left:0;padding-right:0">
                    <div class="box st-teaser-box">
                        <h3 style="display:block">
                            <a href="/termine">Pastor Spitzer in Korea</a>
                        </h3>
                        <a href="/termine"><img alt="Pastor Spitzer in Korea" src="{{paths.theme}}img/volkhardreist.jpg"></a>
                        <p>
                            <span class="stichwort">Evangelisation</span>&nbsp;-&nbsp;Wenn Volkhard nicht in Berlin ist, würde dieser Block erscheinen.
                        </p>
                        <p class="buch">Pastor Sitzer ist vom 12. Juni bis 26. Juni auf einem Kongress in Gyeongju</p>
                    </div>
                </div>
                {% else %}
                <div class="col-md-12" style="margin-top:10px;margin-bottom:35px;padding-left:0;padding-right:0">
                    <div class="box st-teaser-box">
                        <h3 style="display:block">
                            <a href="/termine">St. George´s Church</a>
                        </h3>
                        <a href="/termine"><img alt="Pastor Spitzer in Berlin" src="{{paths.theme}}img/athome.jpg"></a>
                        <p class="buch">Pastor Volkhard Spitzer wird über die Macht der Motivation predigen - Nehemia 1-6</p>
                        <p>Unser Gottesdienst findet am Sonntag um 13:00 Uhr in der St. George´s Church, Preussenallee 17-19, 14052 Berlin,  statt.</p>
                    </div>
                </div>
                {% endif %}