<footer>
      <div class="footerContent">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-6 footerContentAddress">
                <div itemscope="" itemtype="http://schema.org/Organization">
                  <h3 itemprop="name">CROSS CONTINENTAL MINISTRIES e.V.</h3>
                  <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">Tivoliplatz 2</span> /
                    <span itemprop="postalCode">D-10965</span> /
                    <span itemprop="addressLocality">Berlin</span> /
                  </div>
                  Telefon <span itemprop="telephone">+49 30 86409883</span> /
                  Fax <span itemprop="faxNumber">+49 30 86409884</span> /
                  <span itemprop="email">info@pastorspitzer.de</span>
                </div>
              </div>
              <div class="col-md-6 footerContentLinks">
              </div>
            </div><!-- close row -->
          </div>
        </div>
      </div>
      <div class="footerContentSub">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-md-push-4 col-sm-12 text-center">
                <ul class="navSocial clearfix"><li><a href="" target="_blank" class="ico_fb" title="bei Facebook">Facebook</a></li><li><a href="" target="_blank" class="ico_tw">twitter</a></li><li><a href="" target="_blank" class="ico_gp">google+</a></li><li><a href="" target="_blank" class="ico_yt">youtube</a></li><li><a href="" target="_blank" class="ico_in">instagram</a></li></ul>
              </div>
              <div class="col-md-4 col-md-push-4 col-sm-6 col-sm-push-6 navFooterWrap clearfix">
                <ul class="navFooter clearfix"><li><a href="/impressum.html" target="_top" title="Impressum" itemprop="url"><span class="f2763" itemprop="name">Impressum</span></a></li><li><a href="/rechtliche_hinweise.html" target="_top" title="Rechtliche Hinweise" itemprop="url"><span class="f2764" itemprop="name">Rechtliche Hinweise</span></a></li><li><a href="/datenschutz.html" target="_top" title="Datenschutz" itemprop="url"><span class="f2765" itemprop="name">Datenschutz</span></a></li></ul>                
              </div>
              <div class="col-md-4 col-md-pull-8 col-sm-6 col-sm-pull-6 footerCopyright">
                ©&nbsp;2014-2016&nbsp; Pastor Volkhard Spitzer
                
              </div>
            </div><!-- close row -->
          </div>
        </div>
      </div>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>